.background-custom {
  /* background-color: hsla(256, 72%, 10%, 1);
    background-image: radial-gradient(
        at 100% 0%,
        hsla(262, 100%, 49%, 0.12) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 100%, hsla(20, 100%, 21%, 0.21) 0px, transparent 50%); */
  /* background-color: hsla(0, 0%, 5%, 1);
  background-image: radial-gradient(
      at 0% 0%,
      hsla(222, 100%, 32%, 0.12) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 98%, hsla(283, 100%, 19%, 0.2) 0px, transparent 50%);

 */
 
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: rgb(13, 13, 21);
  background-image: radial-gradient(
      at 99% 0%,
      hsla(204, 100%, 50%, 0.08) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(222, 100%, 32%, 0.12) 0px, transparent 50%),
    radial-gradient(at 100% 97%, hsla(273, 100%, 19%, 0.2) 0px, transparent 50%);
}
