@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5 , h6, a{
  color: #B4C5D8
}

/* 
Dark to ligth 

#263A47
#4A5B6A
#728495
#98A9BE
#B4C5D8
*/

button {
  color: #B4C5D8;
  max-width: 150px;
  padding: 3px;
}